html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  /* font-family: "lato"; */
  color: #808080;
  /* overflow-x: hidden; */
}
.page-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  /* grid-gap: 10px; */
  height: 100vh;
}
header {
  grid-area: header;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid red; */
}
/* HEADER================================== */
.header {
  background-color: #f7f7f7;
}
.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-top: 1rem;
}
.header-logo img {
  width: 15rem;
  height: 6rem;
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.menu-list li {
  text-transform: uppercase;
  transition: 0.25s all;
  padding: 0 2rem 5px 0;
  width: auto;
  text-align: center;
}
.menu-list li:hover {
  color: #81a63d;
}
/* conteiner for slider ------------------------------- */

/*  sliders background --------------------*/
.header-slider {
  max-width: 100vw;
  overflow: hidden;
}

.eachsliderimage {
  background-size: 100%;
  height: 50rem;
  background-repeat: no-repeat;
  filter: brightness(60%);
}

/* animation -------------------------------- */
.header-animation {
  z-index: 2;
  width: 45rem;
  margin: -35rem auto 0;
}
/* /slider ------------------------------------- */
/* /conteiner for slider ------------------------------- */
/* MAIN ===================================================== */
.main-block {
  margin: 80px auto;
  width: 80%;
}
/* video */
.main-video {
  margin: 0 auto;
  height: 400px;
  /* width: 100%; */
}

/* photo --------------------------------- */
.main-photo__painterest {
  display: flex;
  flex-direction: column;
  /* justify-content: right; */
  flex-wrap: wrap;
  max-width: 1000px;
  /* width: 100%; */
  height: 1300px;
  margin: 80px auto 0;
  border: 1px solid red;
}
.main-photo__painterest img {
  width: 20rem;
  padding: 1rem;
}
.main-photo__painterest img:nth-child(even) {
  height: 40%;
}
/* .main-photo__painterest img:nth-child(2n + 1) {
  height: 50%;
} */
/* FOOTER =================================================== */
.footer {
  text-align: center;
}
/* MEDIA ==================================================== */
@media (max-width: 768px) {
  .page-container {
    grid-template-areas:
      "header"
      "content"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      1fr /* Content */
      auto; /* Footer */
  }
  .wrapper {
    padding: 2rem;
  }
}
